/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #e0e0e0;
  background-color: #121212;
}

a {
  text-decoration: none;
  color: #00bcd4;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff5722;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f1f1f;
  padding: 10px 20px;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  color: #00bcd4;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  font-size: 18px;
}

.nav-links a {
  color: #e0e0e0;
  padding: 5px;
}

.nav-links a:hover {
  color: #ff5722;
}

/* Hero Section */
.hero {
  height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  color: #fff;
}

.hero-content .highlight {
  color: #00bcd4;
}

.hero-content p {
  font-size: 1.2rem;
  color: #e0e0e0;
}

/* Section Styling */
.section {
  padding: 50px 20px;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: #ff5722;
  margin-bottom: 20px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.skill {
  background-color: #282828;
  padding: 15px;
  border-radius: 10px;
  color: #e0e0e0;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.skill:hover {
  background-color: #00bcd4;
  color: #121212;
}

/* Projects Section */
.projects {
  background-color: #1f1f1f;
}

.project-card {
  background-color: #282828;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.project-card h3 {
  font-size: 1.8rem;
  color: #ff5722;
}

.project-card p {
  color: #e0e0e0;
}

.project-card:hover {
  background-color: #00bcd4;
}

/* Contact Form */
.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

input, textarea {
  padding: 15px;
  border: 1px solid #282828;
  border-radius: 5px;
  background-color: #181818;
  color: #e0e0e0;
}

input::placeholder, textarea::placeholder {
  color: #a0a0a0;
}

button {
  padding: 15px;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff5722;
}

/* Footer */
footer {
  background-color: #1f1f1f;
  padding: 20px;
  text-align: center;
}

footer p {
  color: #e0e0e0;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
